body {
  font-family: "Times New Roman", Times, serif;
}
.box {
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 5em;
}
.grid1,
.grid3 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}
.grid2 {
  margin-top: 10px;
  font-size: xx-large;
}
.div1,
.div2,
.div4,
.div5 {
  display: grid;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 5%;
}
.div1 > div,
.div2 > div,
.div4 > div,
.div5 > div {
  text-align: center;
}
strong {
  font-size: xx-large;
}
img {
  width: 50px;
  height: 50px;
}
