.grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-content: center;
}
.grid-container>div{
  background-color: grey;
  padding: 3em;
  border: black solid;
  text-align: center;
  align-content: center;
  justify-content: center;
}
#box1{
  grid-row: 2/4;
  background-color:white;
}
#box2{
  grid-row: 2/4;
  background-color:white;
}
#box3{
  grid-row: 2/4;
  background-color:white;
  border: white;
  font-size: 34px;
}
#box4{
  grid-row: 2/4;
  background-color:white;
}
#box5{
  grid-row: 2/4;
  background-color:white;
}
