*{
  margin-left: 10px;
}
.main{
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  align-self: center;
}

.column{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr); 
}

.row{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  box-sizing: border-box;
  width: 150px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #b3b1b1;
  box-sizing: border-box;
  border: 1px solid white;
  align-items: center;
  background-color: white;
}

.score{
  display: flex;
  flex-direction: row;
  font-size: 50px;
  justify-self: center;
}

.Strength{
  margin-top: 1px;
  font-size: 30px;
}

.footer{
  margin-left : 80px;
  font-size : 18px;
}


