*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
.game-war{
  width: 100%;
  height: 100%;
}
.container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.big-text{
  font-size: 32px;
}

/* center part */
.game-war{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-war .border_box{
 width: 90%;
 border: 2px solid lightgray;
 height: 80%;
 margin: 0 auto;
 padding-top: 5px;
}
.game-war .border_box .container .hero-villain1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* wrap the card  */
.game-war .border_box .container .hero-villain1 .player_wrap{
  height: 160px;
  width: 100px;
  border: 2px solid lightgray;
  text-align: center;
  border-radius: 6px;
  margin:0 7px;
  padding: 10px;
}

/* Provide the height of the image 
so that image and content having the spacific height in a range */
.game-war .border_box .container .hero-villain1 .player_wrap .image{
  height: 70%;
}
.game-war .border_box .container .hero-villain1 .player_wrap .image img{
  height: 90px;
  width: 80px;
  padding: 5px;
}
.game-war .border_box .container .hero-villain1 .player_wrap .caption_player{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.middleScore{
  width: 50px;
}

.game-war .border_box .container .hero-villain1 .player_wrap .caption_player div:first-child{
   font-size: medium;
   text-transform: capitalize;

}



.footer{
  margin-left : 80px;
  font-size : 18px;
}

/*  =================responsive website==============*/

/* This only applied for screen <=730px */
@media only screen and (max-width: 800px) {
  .container{
    width: 80%;
  }
}

@media only screen and (max-width: 730px) {
  .player_wrap{
    background: yellowgreen;
    border: 2px solid green !important;
  }
  .container{
    width: 90%;
  }
}

@media only screen and (max-width: 625px) {
  .player_wrap{
    background: burlywood;
    border: 2px solid brown !important;
  }
  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .middleScore{
    margin: 20px 0;
  }
  .footer{
    margin-left: 22px;
  }
}