* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.score {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.villain {
  display: flex;
}

.hero div, .villain div {
  border: 2px solid lightgray;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img, .villain img {
  padding: 10px 0px;
  max-width: 70px;
  align-items: center;
  height: auto;
}

article {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: auto;
}

p {
  font-size: 1.3em;
}

h3 , .score div{
  font-size: 5em;
  text-align: center;
}

.footer{
  position: absolute; 
  bottom: 0px;
  margin-left : 100px;
  font-size : 2em;
}
