.main-grid{
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-content: space-evenly;
}

#heros,#villons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}
.sub-grid{
  border-style: groove;
  border-radius: 10px;
  padding: 0%;
}

div img{
  width: 60%;
  height: 80%;
  padding-left: 20%;
}

div h4,h3,h1{
  text-align: center;
}

.footer{
  margin-left : 80px;
  margin-top: 20px;
  font-size : 18px;
}
