.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left:200px;
  margin-right:200px;
 }
 #players{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap:20px;
   justify-content: space-between;
  }
#players>div{
  border: 2px solid grey;
  padding:5px;
  border-radius: 10px;  
  text-align: center;
  width: 150px;
  height:300px;
}
p
{
  text-align: center;
}
#points{
  text-emphasis:bold;
  font-size: 50px;
  text-align: center;
}
.footer{
  margin-left : 80px;
  font-size : 18px;
  margin-top: 300px;
}
