.grid-container{
    display: grid;
    grid-template-columns:   2fr 1fr 2fr ;
    grid-auto-rows: minmax(50px,auto);
    grid-gap:1em;
    padding: 1em;
    margin: 50px;
    
}

#box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    



}
#box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#box3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.heroes,.villans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 10px;
    
}
